<div class="container cases-container">
  <app-breadcrumbs [items]="breadcrumbItems"></app-breadcrumbs>

  @if (caseData == null && caseId != null) {
    <p class="error">Case not found.</p>
  } @else if (caseId != null) {
    <div id="cases-header">
      <h1>Case #{{ caseId }}</h1>
    </div>
    <div class="cases-page">
      <app-side-nav
        [navItems]="caseDetailNavItems"
        [linkBasePath]="caseDetailNavBasePath">
      </app-side-nav>
      <div class="cases-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  }
</div>
