<div class="link-account-container">
  <ng-container *ngIf="isLoggedIn; else notLinked">
    <h2>Do you want to link the account?</h2>
    <button (click)="linkAccount()">Yes</button>
    <button (click)="routeToHome()">No</button>
  </ng-container>
  <ng-template #notLinked>
    <div class="not-linked">
      <h2>
        This login is not linked to an existing account. Please sign in to your account and to link
        the login.
      </h2>
      <a routerLink="/home" class="btn ghost">Return to Homepage</a>
    </div>
  </ng-template>
</div>
