<div class="profile-container">
  <h2>User Profile</h2>

  <div *ngIf="profile && !editMode && !editPasswordMode">
    <p><strong>First Name:</strong> {{ profile.firstName }}</p>
    <p><strong>Last Name:</strong> {{ profile.lastName }}</p>
    <p><strong>Email:</strong> {{ profile.email }}</p>
    <p><strong>Phone:</strong> {{ profile.phone }}</p>
    <p><strong>Role:</strong> {{ profile.roleName }}</p>
  </div>
  <button *ngIf="profile && !editMode && !editPasswordMode" class="btn" (click)="startEdit()">
    Edit Profile
  </button>
  <form *ngIf="profile && editMode && !editPasswordMode" (ngSubmit)="saveEdit()">
    <label class="form-label"
      ><span>First Name:</span>
      <input [(ngModel)]="profile.firstName" name="firstName" class="form-input"
    /></label>
    <label class="form-label"
      >Last Name: <input [(ngModel)]="profile.lastName" name="lastName"
    /></label>
    <label class="form-label">
      Email:
      <input [(ngModel)]="profile.email" name="email" />
    </label>
    <label class="form-label">Phone: <input [(ngModel)]="profile.phone" name="phone" /></label>
    <div class="btn__div">
      <button class="btn primary" type="submit">Save</button>
      <button class="btn primary" type="button" (click)="cancelEdit()">Cancel</button>
    </div>
  </form>

  <button *ngIf="!editPasswordMode && !editMode" class="btn primary" (click)="startEditPassword()">
    Change Password
  </button>
  <div></div>
  <form *ngIf="editPasswordMode && !editMode" (ngSubmit)="saveEditPassword()">
    <label class="form-label"
      >Current Password:
      <input type="password" name="currentPassword" [(ngModel)]="currentPassword"
    /></label>
    <label class="form-label"
      >New Password: <input type="password" name="newPassword" [(ngModel)]="newPassword"
    /></label>
    <label class="form-label"
      >Confirm Password:
      <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
    /></label>
    <div class="btn__div">
      <button class="btn secondary" type="submit">Save Password</button>
      <button class="btn secondary" type="button" (click)="cancelEditPassword()">Cancel</button>
    </div>
  </form>

  <div class="profile-oauth">
    <span>Link to account:</span>
    <ng-container>
      <ng-container *ngIf="!googleLinked; else googleLinkedText">
        <button class="btn oauth google" (click)="linkGoogle()">Link to Google</button>
      </ng-container>
      <ng-template #googleLinkedText>
        <span class="linked-status google">Account linked with Google</span>
      </ng-template>

      <ng-container *ngIf="!githubLinked; else githubLinkedText">
        <button class="btn oauth github" (click)="linkGithub()">Link to GitHub</button>
      </ng-container>
      <ng-template #githubLinkedText>
        <span class="linked-status github">Account linked with GitHub</span>
      </ng-template>
    </ng-container>
  </div>
</div>
