<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="AUDIT_FILE" class="ch.qos.logback.core.FileAppender">
            <!-- For production -->
        <!-- <file>/var/log/audit/audit.log</file>  -->
            <!-- For local development -->
        <file>logs/audit/audit.log</file>  
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/var/log/audit/audit.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>7</maxHistory>
    </rollingPolicy>

    <logger name="AUDIT_LOG" level="INFO" additivity="false">
        <appender-ref ref="AUDIT_FILE"/>
    </logger>

</configuration>